@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <h4>Додати користувача</h4>
        <form class="form-inline">
            <input type="text" placeholder="First name" class="form-control" />
            <input type="text" placeholder="Last name" class="form-control" />
            <input type="text" placeholder="Age" class="form-control"/>
            <input type="submit" class="form-control"/>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-7">
        <h4>Додати проект</h4>
        <form class="form-inline">
            <input type="text" class="form-control" placeholder="Project name" class="form-control" />
            <input type="text" class="form-control" placeholder="Description" class="form-control" />
            <h5 class="text-center">Початок</h5>
            <input type="text" class="form-control" placeholder="День" />
            <input type="text" class="form-control" placeholder="Місяць" />
            <input type="text" class="form-control" placeholder="Рік" />
            <h5 class="text-center">Кінець</h5>
            <input type="text" class="form-control" placeholder="День" />
            <input type="text" class="form-control" placeholder="Місяць" />
            <input type="text" class="form-control" placeholder="Рік" />
            <div class="form-group">
                <input type="submit" class="form-control" />
            </div>
        </form>
    </div>
</div>
<hr/>
<script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    
</script>